{% extends "proposals/base.html" %}

{% load bootstrap_tags %}
{% load boxes_tags %}
{% load thumbnail %}
{% load markitup_tags %}
{% load i18n %}

{% block page_title %}Sticker Details{% endblock %}

{% block body %}
<h3>{{sticker.title}}</h3>
<img src="{% thumbnail sticker.upload "400x400" %}" alt="{{ sticker.title }}" /><br>
{{ sticker.description }}<br>
<a href="{% url sticker_vote sticker.pk %}" class="btn">Vote</a>
Votes: {{ sticker.votes.count }}<br>
<a href="{% url sticker_review %}">Return to sticker list</a>
{% endblock %}
