{% extends "proposals/base.html" %}

{% load bootstrap_tags %}
{% load boxes_tags %}
{% load thumbnail %}
{% load markitup_tags %}
{% load i18n %}

{% block page_title %}Sticker Details{% endblock %}

{% block body %}
    {% box "sticker_review_text" %}
<table>
{% for sticker in stickers %}
{% if forloop.counter|divisibleby:4 or forloop.counter == 1 %}
</tr><tr>
{% endif %}
<td align="center">
  <a href="{% url sticker_detail sticker.pk %}" class="btn">
  <img src="{% thumbnail sticker.upload "200x200" %}" alt="{{ sticker.title }}" />
</a><br>
<a href="{% url sticker_vote sticker.pk %}" class="btn">Vote</a>
Votes: {{ sticker.votes.count }}
</td>
{% endfor %}
</tr>
</table>
{% endblock %}
