{% extends "proposals/base.html" %}

{% load bootstrap_tags %}
{% load boxes_tags %}
{% load markitup_tags %}
{% load i18n %}

{% block page_title %}Submit a Sticker{% endblock %}

{% block body %}
    {% box "example_sticker" %}

    <form method="POST" action="" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class="form-actions">
            <p>
                You will NOT be able to edit your sticker after it has been submitted.
            </p>
            <input class="btn btn-primary" type="submit" name="finish" value="Save" />
        </div>
    </form>
{% endblock %}
