{% extends "site_base.html" %}

{% load i18n %}
{% load boxes_tags %}
{% load thumbnail %}

{% load sponsorship_tags %}
{% load sponsors_utils %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
   <div id="hero">
        <a href="http://pytennessee2014.eventbrite.com/" id="register-btn">Register now</a>
   </div>

{% sponsor_levels as levels %}

 <div class="container">
    <div class="row">
        <div class="span12">
            <div id="sponsorCarousel" class="carousel slide">
                <div>
                    <h3 class="pull-left">Our Sponsors</h3>
                     <a class="btn sponsor-btn pull-right" class="pull-right" href="/sponsors/apply/">Sponsorships Available. <strong>Become a sponsor today!</strong></a>
                    </div>
                    <ol class="carousel-indicators">
                            {% for level in levels|has_sponsors %}
                                <li data-target="#sponsorCarousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% endif %}"></li>
                            {% endfor %}
                    </ol>

                    <div class="carousel-inner">
                        {% for level in levels|has_sponsors%}
                            <div class="item">
                            <h5>{{level.name}}</h5>
                                <div class="row">
                                    {% for sponsor in level.sponsors %}
                                        <div class="span3"><a href="{{ sponsor.external_url }}" class="thumbnail"><img src="{% thumbnail sponsor.website_logo '155x83' %}" alt="{{ sponsor.name }}"/></a></div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                </div>
        </div>
     </div>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
    $('#sponsorCarousel').carousel({
    interval: 5000
    })
});
</script>
    {{ block.super }}
{% endblock body_base %}

{% block body %}

    {% box "homepage" %}
    &nbsp;
{% endblock %}
{% block sidebar %}
<link href="https://app.e2ma.net/css/signup.sml.css" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://app.e2ma.net/app2/audience/tts_signup/1752410/b59f37b750c4bb173d098a753b7dc16b/1731588/?v=a"></script><div id="load_check" class="signup_form_message" >This form needs Javascript to display, which your browser doesn't support. <a href="https://app.e2ma.net/app2/audience/signup/1752410/1731588/?v=a"> Sign up here</a> instead </div><script type="text/javascript">signupFormObj.drawForm();</script>
{% endblock %}
