{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load sitetree %}
{% load markitup_tags %}
{% load static %}

{% block viewport %}{% endblock %}

{% block style_base %}
    <link rel="shortcut icon" href="{% static 'symposion/img/favicon.ico' %}" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href="{% static "symposion/css/symposion.css" %}" rel="stylesheet">
    <link href="{% static "css/pytn.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    {% markitup_media "no-jquery" %}
    {% block extra_head %}<meta name="google-site-verification" content="cFRBeZIPKE8n0LKpIX9ZJaAtKmdKGc97cOJ5iBviMcw" />{% endblock %}
{% endblock %}

{% block wrapper_class %}outer-container{% endblock %}

{% block site_brand %}
    <a class="brand" href="{% url home %}">{{ SITE_NAME }}</a>
{% endblock %}

{% block navbar_class %}navbar-fixed-top hellobar{% endblock %}

{% block nav %}
    <div id="hello">
        <strong>Call for Proposals:</strong> PyTennessee is now accepting talk proposals. We encourage everyone to submit talks. <a href="/speaking/cfp/">Learn more</a>
    </div>
    {% sitetree_menu from "main" include "trunk" template "sitetree/menu_bootstrap.html" %}
{% endblock %}

{% block body_base %}
    <div class="container">

        {% include "_messages.html" %}

        {% block body_outer %}
            <div class="row">
                <div class="span9">
                    {% block body %}
                    {% endblock %}
                </div>
                <div class="span3">
                    {% block sidebar %}
                        {% include "_default_sidebar.html" %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block footer %}
        <hr>
            <footer class="footer">
                <div class="pull-left">
                  <a width="400" class="twitter-timeline" href="https://twitter.com/PyTennessee" data-widget-id="375606235283742720">Tweets by @PyTennessee</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <div class="pull-right">
                  Site powered by <a href="http://eldarion.com/symposion/"><b>Symposion</b></a>.<br>
                </div>
            </footer>
        {% endblock %}
        <div class="row">
            <div class="span12">
              <small>"Python" and the Python logos are trademarks or registered trademarks of the Python Software Foundation, used by PyTennessee  with permission from the Foundation</small>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_base %}
    {% analytics %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43785205-1', 'pytennessee.org');
  ga('send', 'pageview');
    </script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
