<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PyTennessee 2019 Sponsorship Prospectus</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:700" rel="stylesheet">
    <style type="text/css">
        html { background: #fefefe; color: #363643; font-size: 18px; }
        body { font-family: "Helvetica Neueu", "Helvetica", "Arial", sans-serif; margin: 6em; line-height: 1.5; }
        h1 { font-family: "Source Code Pro", monospace; font-weight: 700; }
        h2 { font-family: "Source Code Pro", monospace; margin-top: 2em; }
        a { color: #4991cc; }
        .logo { height: 201px; width: 200px; margin: 0 auto; }
        .note { color: #555; font-size: 16px; font-style: italic; line-height: 1.6875; }
    </style>
</head>
<body>
    <img class="logo" src="/static/logo-dark.png" width="200" height="201" alt="PyTenessee Logo" />
    <h1>PyTennessee 2019 Sponsorship Prospectus</h1>
    
    <h2>About PyTennessee 2019</h2>
    <p>PyTennessee is a regional Python conference held in Nashville, TN every year. The 2019 iteration of PyTennessee will be our 6th year, and like every year before it, promises to be the best PyTennessee yet! PyTennessee 2019 will be held February 9-10, 2019 at the <a href="https://goo.gl/maps/TECnKHjgXvJ2">Nashville School of Law</a>. As in years past, the conference will feature 3 tracks of talks (covering beginner-to-advanced Python and Python-adjacent topics), 1 tutorial track, and an always-excellent hallway track. In addition to the typical conference talks and tutorials, PyTennessee also provides breakfast and lunch both days (and provides meal alternatives to suit as many dietary restrictions as possible), puts on a Game Night/After Party on Saturday, and provides programming education through our <a href="#young-coders">Young Coders</a> program. There will be a bit of something for everyone at PyTennessee 2019!</p>
    <p>Additionally, PyTennessee is a nonprofit event facilitated by TechFed Nashville, a Tennessee nonprofit organization whose mission is to support and grow the grassroots tech talent in Middle Tennessee through educational events and groups. TechFed provides financial stewardship, risk management and volunteer leadership development for Nashville-area technology events.</p>

    <h2>Expected Audience</h2>
    <p>PyTennessee 2019 expects approximately 300 attendees, the majority of whom will be professional Python developers or developers interested in learning more about Python. The skill levels among the attendee pool is diverse and ranges from people just learning Python to bona fide experts in the language. Similarly, our attendees cover a wide range of areas of expertise: data scientists/engineers, web developers, Python core developers, systems/framework developers, and more. We expect that most of our attendees will be from the Southeast region, our attendees always include people from all over the US as well international attendees.</p>

    <h2 id="young-coders">Young Coders</h2>
    <p>In addition to the typical conference schedule, PyTennessee also runs a day-long educational program called Young Coders. During the Saturday of the conference, the Young Coders will receive a full-day of instruction from an industry professional who will help get them started with programming in Python. Tickets to the Young Coders program are free and limited in number (this year we are aiming for 15 students). In addition to the instruction, PyTennessee also purchases a computer for each student to use during the program, and when the program is complete, they are able to keep and take the computer home with them. Our Young Coders program is one of the parts of this conference we are most proud of.</p>
    <p class="note">* If your company is interested in sponsoring the Young Coders portion of the conference, there is <a href="#young-coders-sponsorship">an exclusive sponsorship just for the Young Coders program</a>.


    <h2>PyTennessee 2019 Sponsorship Levels</h2>

    <h3>Cheese Shop ($500)</h3>
    <p>Each Cheese Shop sponsorship comes with:</p>
    <ul>
        <li>Your company’s name, logo, and link to your website on sponsor page</li>
        <li>Your company’s logo on sponsor-level presentation slide before opening keynote</li>
        <li>Your company’s logo on official conference program</li>
        <li>100 word description on website</li>
        <li>At least 1 Twitter mention</li>
        <li>1 T-shirt and 1 conference ticket</li>
    </ul>
    

    <h3>Nudge Nudgers ($1000, Limited to 12)</h3>
    <p>Includes everything in a Cheese Shop sponsorship, plus:</p>
    <ul>
        <li>Ability to place company banner (provided by sponsor) in main conference room</li>
        <li>200 word description in program and on website</li>
        <li>Small company logo on conference t-shirt</li>
        <li>Small company logo in all outbound emails</li>
        <li>1 additional T-shirt and ticket (2 T-shirts and 2 tickets total)</li>
        <li>At least 2 Twitter mentions</li>
    </ul>

    <h3>Lumberjacks ($2500, Limited to 5)</h3>
    <p>Includes everything in a Nudge Nudgers sponsorship, plus:</p>
    <ul>
        <li>400 word description in program and on website</li>
        <li>Large company logo on conference t-shirt</li>
        <li>Opportunity to staff a sponsorship booth during the conference</li>
        <li>Additional 2 T-Shirts and 2 Tickets (4 T-Shirts and 4 Tickets total)</li>
        <li>Twitter mentions leading up to the event</li>
    </ul>

    <h3>Ron Obvious ($5000, Limited to 1)</h3>
    <p>Includes everything in a Lumberjacks sponsorship, plus:</p>
    <ul>
        <li>Exclusive sponsor of the PyTN Game Night/After Party!</li>
        <li>Your company’s logo on a slide by itself during the opening keynote and lightning talks</li>
        <li>A specific mention of your company’s contribution before the keynotes</li>
        <li>The ability to address the attendees of the after party</li>
        <li>1 additional T-shirt and ticket (5 t-shirts and 5 tickets total)</li>
    </ul>

    <h3>Ministry of Silly Walks ($8000, Limited to 1)</h3>
    <p>Includes everything in a Lumberjacks sponsorship, plus:</p>
    <ul>
        <li>"Presented by" credit in all outbound marketing</li>
        <li>"Presented by" credit on the PyTennessee website</li>
        <li>"Presented by" credit on the conference t-shirt</li>
        <li>"Presented by" credit on the conference program</li>
        <li>"Presented by" credit on a slide dedicated to your company</li>
        <li>The ability to address all attendees of the conference before the opening keynote</li>
        <li>2 additional T-shirts and tickets (6 t-shirts and 6 tickets total)</li>
    </ul>


    <h2>Other Sponsorship Opportunities and Add-Ons</h2>
    <p class="note">Even if you’re already sponsoring at a level above, if you’d like to take advantage of any of our other sponsorship opportunities below, you are welcome to add these on to your sponsorship and get even more for your sponsorship money! All sponsorships below are exclusive unless otherwise specified.</p>

    <h3>Lanyards ($300)</h3>
    <ul>
        <li>Since everyone at the conference gets a name badge and a lanyard, shouldn’t the lanyard have your logo on it?</li>
    </ul>

    <h3>Coffee ($500, Limited to 2)</h3>
    <ul>
        <li>Your company’s logo placed by the day’s coffee will let everyone know the coffee they’re drinking was provided by you!</li>
    </ul>

    <h3>Conference Badges ($750)</h3>
    <ul>
        <li>Every attendee gets a conference badge, and if you choose to sponsor the badges, then every conference badge will have your logo on it.</li>
    </ul>

    <h3>Breakfast ($1000, Limited to 2)</h3>
    <ul>
        <li>Let everyone know you care about ending their morning hunger by ensuring that your company’s logo is prominently displayed by the food as people get breakfast in the morning.</li>
        <li>Each Breakfast sponsorship will sponsor a single meal.</li>
    </ul>

    <h3>Lunch ($1000, Limited to 2)</h3>
    <ul>
        <li>Lunch is one of the few times during the day that all conference attendees are in the same place. Guarantee they see your company’s logo being prominently displayed by the food as people get in line for their favorite meal of the day.</li>
        <li>Each Lunch sponsorship will sponsor a single meal.</li>
    </ul>

    <h3 id="young-coders-sponsorship">Young Coders ($3000)</h3>
    <ul>
        <li>As the exclusive sponsor of our Young Coders program, your generous sponsorship will help buy computers for our Young Coders to use during the program and take home with them when the program is complete.</li>
        <li>"Presented by" credit for the Young Coders program in all outbound marketing</li>
        <li>A special thank you before the opening keynote, and after the closing keynote</li>
        <li>Twitter mentions and thank-yous leading up to the event</li>
    </ul>

    <h2>Custom Sponsorship Package</h2>
    <p>If you don’t see a sponsorship above that fits your needs, please contact us <a href="mailto:sponsorships@pytennessee.org">sponsorships@pytennessee.org</a> and we would love to work with you to find a way for you to get involved with PyTennessee.</p>

    <h2>Community & In-Kind Sponsorships</h2>
    <p>Not all sponsorship require money. If your group is a member of the Python community, please let us know and we’ll happily add your group’s logo, link, and description to the PyTennessee website as a Visitor level Sponsor.</p>
    <p>If your company would like to exchange goods or services for sponsorship instead of money, please contact us at <a href="mailto:sponsorships@pytennessee.org">sponsorships@pytennessee.org</a> and let’s figure out a way for your company to be involved.</p>

    <h2>Questions?</h2>
    <p>If you have any lingering questions about sponsorships or PyTennessee in general, please don’t hesitate to email us at <a href="mailto:info@pytennessee.org">info@pytennessee.org</a> or <a href="mailto:sponsorships@pytennessee.org">sponsorships@pytennessee.org</a>.</p>

    <h2>PyTennessee 2019 Organizing Committee</h2>
    <h3>Bill Israel, Chair</h3>
    <p><a href="mailto:chair@pytennessee.org">chair@pytennessee.org</a></p>

    <h3>Aliya Gifford, Co-Chair/Sponsorship Coordinator</h3>
    <p><a href="mailto:sponsorship@pytennessee.org">sponsorship@pytennessee.org</a></p>


    <h3>Josh Stephens, Speaker Coordinator</h3>
    <p><a href="mailto:speakers@pytennessee.org">speakers@pytennessee.org</a></p>


    <h3>Rainu Ittycheriah, Marketing Coordinator</h3>
    <p><a href="mailto:marketing@pytennessee.org">marketing@pytennessee.org</a></p>
</body>
</html>

